<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible' content='IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus earum porro nulla amet? Nemo, quisquam in deserunt libero harum iure. Ratione, rem voluptate? Culpa quam facilis veniam iste iusto doloremque obcaecati officiis non. Itaque voluptatum eligendi quae asperiores dolor, modi perspiciatis consectetur corrupti dolorum debitis sunt ea ab a sed?
        
    </p>
</body>
</html>